/* Calculator */
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
  
    width: fit-content;
  
    margin: 0 auto;
    padding: 4px;
  
    border: 2px solid black;
  }
  
  /* Output */
  #output {
    grid-column: 1 / -1;
    height: 2.5rem;
    background-color: #d8e2dc;
  }
  .title{
    color: #fefae0;
  }
  .center{
    text-align: center;
  }
  /* Button */
  .btn {
    aspect-ratio: 1;
    color: #f1faee;
    background-color: #252422;
  }
  .clr{
    background-color:#dc2f02 ;
  }
  body{
    background-color: #051923;
  }